@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/Roboto-Thin.ttf?c38fab23fc1c36894f10dd8014479b53) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Roboto-Light.ttf?0cea39826bd36bbfe33076c544e3a1af) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Roboto-Regular.ttf?03523cf578d69fa923226ff457b92d90) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Roboto-Medium.ttf?13a29228654d5c5ec9c482a267efa4af) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Roboto-Bold.ttf?4f39c5796e60c9d8e7327a00e9a4442e) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Roboto-Black.ttf?1224b64c95f897e542d9bfdd3861b0ed) format("truetype");
}
.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.text-right {
  text-align: right;
}

.bg-grey {
  background-color: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9fb8ad;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #444;
}

*:focus {
  outline: none;
}

header {
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px #bbb;
  border-bottom: 1px solid #aaa;
}
header .container {
  display: flex;
  align-items: center;
}
header .container .logo {
  display: block;
  text-decoration: none;
  color: #fb743e;
  font-size: 36px;
  font-weight: 300;
}

main {
  margin-top: 30px;
}
main .about .title {
  margin-bottom: 30px;
  letter-spacing: 2.5px;
  color: #383e56;
}
main .about .paragraph {
  letter-spacing: 1.5px;
  line-height: 24px;
  font-weight: 400;
}
main .actions .options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 800px) {
  main .actions .options {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  main .actions .options .option {
    margin-bottom: 20px;
  }
  main .actions .options .option:last-child {
    margin-bottom: 0;
  }
}
main .actions .options input {
  position: absolute;
  margin-top: 2px;
  margin-left: -20px;
}
main .actions .text-input {
  margin-bottom: 30px;
}
main .actions .btn {
  background-color: #c5d7bd;
  padding: 10px 15px 10px 30px;
  cursor: pointer;
  transition: opacity 0.7s ease;
}
main .actions .btn.submit {
  padding: 10px 15px;
}
main .actions .btn:hover, main .actions .btn.active {
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

form textarea {
  width: 100%;
  padding: 15px;
  height: 250px;
  color: #444;
}
form button {
  border: none;
}
