@import "fonts/roboto.scss";
@import "variables.scss";
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $cinza-escuro;    
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: $cinza;
}

.text-right{
    text-align: right;
}

@import "header.scss";
@import "publicity.scss";
@import "main.scss";
@import "form.scss";
@import "footer.scss";