form{

    .option{
        background-color: #383838;
        border: 1px solid $cinza-escuro-II;
        padding: 10px 15px;
        font-size: 16px;
        box-shadow: 0px 0px 5px $cinza-escuro-II;
        cursor: pointer;
    }
}