form{

    input, textarea, button{
           
    }

    textarea{
        width: 100%;
        padding: 15px;
        height: 200px;
        color: $grey;
        border: 1px solid #999;
    }

    button{        
      border: none;      
    }    
}