form{

    input, textarea, button{
           
    }

    textarea{
        width: 100%;
        padding: 15px;
        height: 250px;
        color: $grey;
    }

    button{        
      border: none;      
    }    
}