header{
    background-color: $white;
    height: 80px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px #bbb;
    border-bottom: 1px solid #aaa;    
    
    .container{
        display: flex;
        align-items: center;

        .logo{        
            display: block;
            text-decoration: none;
            color: $orange;
            font-size: 36px;
            font-weight: 300;    
        }
    }
}